# Web Scraping Presidents of selected countries

In [187]:
# import libraries

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [62]:
df_presidents = pd.read_csv('President datasheet 5 countries.csv')

In [7]:
df_growth = pd.read_csv('GDP per Capita Growth Rate.csv')

### Growth data

In [51]:
# rename columns


df_growth.columns = ['Date','China','United Kingdom', 'India', 'Sri Lanka', 'Singapore', 'United States']
df_growth.tail()

,Date,China,United Kingdom,India,Sri Lanka,Singapore,United States
54,2015,7.041329,2.355524,7.996253,5.007683,2.988521,2.908022
55,2016,6.848762,1.918155,8.256306,4.486635,3.243474,1.637838
56,2017,6.947201,1.892077,7.043821,3.578170,4.336605,2.369801
57,2018,6.749774,1.340721,6.119587,3.306417,3.438111,2.927326
58,2019,6.110118,1.462658,4.180728,2.283465,0.733310,2.161176

In [31]:
# check type

for column in range(df_growth.shape[1]):
    typetest = []
    for row in range(df_growth.shape[0]):
        tp = type(df_growth.iloc[:,column][row])
        if tp not in typetest:
            typetest.append(tp)
    print('type of '+str(df_growth.columns[column])+' is '+str(typetest))

type of Date is [<class 'numpy.int64'>]
type of China is [<class 'numpy.float64'>]
type of United Kingdom is [<class 'numpy.float64'>]
type of India is [<class 'numpy.float64'>]
type of Sri Lanka is [<class 'numpy.float64'>]
type of Singapore is [<class 'numpy.float64'>]
type of United States is [<class 'numpy.float64'>]

In [35]:
# as all the records are floats, no need further cleaning

### President Data

In [37]:
df_presidents.head()

,ID,Country,Name,DOB,Presidential term,Year start,Year end,First political exp,Educational Background,Professional Background,Political Party,University,Birth Place,Left Hand / Right Handed,Comment(HOS),Comment(start year),Political Experience
0,NaN,Sri Lanka,Gotabaya Rajapaksa,1949,1,2020,2021,2006,Army Training,Military,SLFP,Diyathalawa Defence university,"Mathara, Sri Lanka",Right,President,Major,Defence secretary
1,NaN,Sri Lanka,Maithripala Sirisena,1951,1,2015,2019,1971,School,Politician,SLFP,None,"Gampaha, Sri Lanka",Right,President,Major,SLFP youth
2,NaN,Sri Lanka,Mahinda Rajapaksa,1945,2,2010,2014,1967,Law,Politician,SLFP,Law collage,"Hambanthota, Sri Lanka",Right,President,Major,SLFP
3,NaN,Sri Lanka,Mahinda Rajapaksa,1945,1,2006,2009,1967,Law,Politician,SLFP,Law collage,"Hambanthota, Sri Lanka",Right,President,Major,SLFP
4,NaN,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1945,2,2000,2005,1974,Diploma(Phd followed),Politician,SLFP,Institut d'Etudes Politiques de Paris,"Colombo, Sri Lanka",Right,President,Major,Sri lanka womens league

In [67]:
# let us derive in another data frame the country, President and Political reign

In [176]:
# creating new dataframe from
df_reigns = df_presidents.iloc[:,]
df_reigns['Experience'] = df_reigns['Year start']-df_reigns['First political exp']
df_reigns.drop('First political exp', inplace = True,  axis = 1)

# adding columns
df_reigns[["Max",'Min','Average','Std Dev']] = ""
df_reigns.head()

,ID,Country,Name,DOB,Presidential term,Year start,Year end,Educational Background,Professional Background,Political Party,...,Birth Place,Left Hand / Right Handed,Comment(HOS),Comment(start year),Political Experience,Experience,Max,Min,Average,Std Dev
0,NaN,Sri Lanka,Gotabaya Rajapaksa,1949,1,2020,2021,Army Training,Military,SLFP,...,"Mathara, Sri Lanka",Right,President,Major,Defence secretary,14,,,,
1,NaN,Sri Lanka,Maithripala Sirisena,1951,1,2015,2019,School,Politician,SLFP,...,"Gampaha, Sri Lanka",Right,President,Major,SLFP youth,44,,,,
2,NaN,Sri Lanka,Mahinda Rajapaksa,1945,2,2010,2014,Law,Politician,SLFP,...,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,43,,,,
3,NaN,Sri Lanka,Mahinda Rajapaksa,1945,1,2006,2009,Law,Politician,SLFP,...,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,39,,,,
4,NaN,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1945,2,2000,2005,Diploma(Phd followed),Politician,SLFP,...,"Colombo, Sri Lanka",Right,President,Major,Sri lanka womens league,26,,,,

In [219]:
# max,min,average, std dev

for row in range(len(df_reigns)):
    country = df_reigns['Country'][row]
    start = df_reigns['Year start'][row]
    end = df_reigns['Year end'][row]
    
    
    try:
        index_start = df_growth[df_growth['Date'] == int(start)].index[0]
    
    except:
        index_start = 100        
        
    try:
        index_end = df_growth[df_growth['Date'] == int(end)].index[0]+1
    
    except:
        index_end = 100
    
    df_reigns['Max'][row] = df_growth[country].iloc[index_start:index_end].max()
    df_reigns['Min'][row] = df_growth[country].iloc[index_start:index_end].min()
    df_reigns['Average'][row] = df_growth[country].iloc[index_start:index_end].mean()
    df_reigns['Std Dev'][row] = df_growth[country].iloc[index_start:index_end].std()

In [220]:
df_growth.iloc[57:58]

,Date,China,United Kingdom,India,Sri Lanka,Singapore,United States
57,2018,6.749774,1.340721,6.119587,3.306417,3.438111,2.927326

In [221]:
df_reigns
df_reigns.to_csv('Growth mapped to reigns.csv', index=False)

In [222]:
df_reigns.iloc[12:14]

,ID,Country,Name,DOB,Presidential term,Year start,Year end,Educational Background,Professional Background,Political Party,...,Birth Place,Left Hand / Right Handed,Comment(HOS),Comment(start year),Political Experience,Experience,Max,Min,Average,Std Dev
12,NaN,Singapore,LeeHsien Loong,1952,3,2016,2019,Masters,Military,PAP,...,Singapore,Left,Prime Minister,Major,NaN,32,4.336605,0.73331,2.937875,1.544903
13,NaN,Singapore,LeeHsien Loong,1952,2,2011,2015,Masters,Military,PAP,...,Singapore,Left,Prime Minister,Election year,NaN,27,6.337871,2.988521,4.51266,1.234162

In [223]:
reference_df = pd.read_csv('Growth mapped to reigns.csv')
reference_df.head()

,ID,Country,Name,DOB,Presidential term,Year start,Year end,Educational Background,Professional Background,Political Party,...,Birth Place,Left Hand / Right Handed,Comment(HOS),Comment(start year),Political Experience,Experience,Max,Min,Average,Std Dev
0,NaN,Sri Lanka,Gotabaya Rajapaksa,1949,1,2020,2021,Army Training,Military,SLFP,...,"Mathara, Sri Lanka",Right,President,Major,Defence secretary,14,NaN,NaN,NaN,NaN
1,NaN,Sri Lanka,Maithripala Sirisena,1951,1,2015,2019,School,Politician,SLFP,...,"Gampaha, Sri Lanka",Right,President,Major,SLFP youth,44,5.007683,2.283465,3.732474,1.060646
2,NaN,Sri Lanka,Mahinda Rajapaksa,1945,2,2010,2014,Law,Politician,SLFP,...,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,43,9.144572,3.395733,6.784341,2.475964
3,NaN,Sri Lanka,Mahinda Rajapaksa,1945,1,2006,2009,Law,Politician,SLFP,...,"Hambanthota, Sri Lanka",Right,President,Major,SLFP,39,7.668292,3.538912,5.988530,1.777362
4,NaN,Sri Lanka,Chandrika Bandaranaike Kumaratunga,1945,2,2000,2005,Diploma(Phd followed),Politician,SLFP,...,"Colombo, Sri Lanka",Right,President,Major,Sri lanka womens league,26,6.241748,-1.545408,4.341063,2.997775

In [224]:
df_growth[45:60]

,Date,China,United Kingdom,India,Sri Lanka,Singapore,United States
45,2006,12.720956,2.788325,8.060733,7.668292,9.005144,2.854972
46,2007,14.230861,2.430553,7.660815,6.796826,9.022133,1.876171
47,2008,9.650679,-0.281154,3.086698,5.950088,1.868246,-0.136580
48,2009,9.398726,-4.247822,7.861889,3.538912,0.120983,-2.536757
49,2010,10.635871,1.949521,8.497585,8.015967,14.525639,2.563767
50,2011,9.550832,1.540147,5.241345,8.404733,6.337871,1.550836
51,2012,7.863736,1.478924,5.456359,9.144572,4.461609,2.249546
52,2013,7.766150,2.139486,6.386106,3.395733,4.837299,1.842081
53,2014,7.425764,2.607476,7.410228,4.960701,3.938003,2.525973
54,2015,7.041329,2.355524,7.996253,5.007683,2.988521,2.908022
55,2016,6.848762,1.918155,8.256306,4.486635,3.243474,1.637838
56,2017,6.947201,1.892077,7.043821,3.578170,4.336605,2.369801
57,2018,6.749774,1.340721,6.119587,3.306417,3.438111,2.927326
58,2019,6.110118,1.462658,4.180728,2.283465,0.733310,2.161176